#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bordered-div {
  border: 2px solid rgb(0, 0, 0);
  padding: 10px;
  margin: 10px;
  width: 50%;
  height: 50%;
  text-align: left;
}

.punchcard-table {
  border: 2px solid rgb(0, 0, 0);
  padding: 10px;
  margin: 10px;
  width: 100%;
  height: 100px;
  text-align: center;
}

.bordered-centered-div {
  border: 2px solid rgb(0, 0, 0);
  padding: 10px;
  margin: 10px;
  width: 100%;
  height: 25%;
  text-align: center;
}

.centering-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Customize the label (the mark-sense) */
.mark-sense {
  display: block;
  position: relative;
  padding-left: 0px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  writing-mode: vertical-lr;
}

/* Hide the browser's default radio button */
.mark-sense input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.mark {
  /* Set to flex to center the text */
  display: inline-flex; 
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  
  position: relative;
  top: 0;
  left: 0;
  
  height: 30px; 
  width: 10px; 
  
  margin-right: 10px;
  vertical-align: top;
  background-color: #eee;
  border-radius: 0;
  
  /* Inherit text styling from .mark-sense, but can be customized here */
  font-size: 14px; 
  writing-mode: horizontal-lr;
}

/* On mouse-over, add a grey background color */
.mark-sense:hover input ~ .mark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.mark-sense input:checked ~ .mark {
  background-color: #3d3d3d;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.mark:after {
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.mark-sense input:checked ~ .mark:after {
  display: none
}

/* Style the indicator (dot/circle) */
.mark-sense .mark:after {
  display:none;
}